body {
  background-color: white;
  color: #c25251;
  padding: 20px 40px;
}
.container {
  max-width: 900px;
  margin: auto;
}
.header {
  text-align: center;
}
.header select {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #c25251;
  color: #c25251;
}
.recipe-card {
  margin-top: 50px;
  border: 1px solid;
  border-radius: 20px;
  padding: 30px;
}

.recipe-card img {
  max-width: 300px;
  border-radius: 20px;
}

.first-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
